.project-page {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.project-item {
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    background-color: #ffffff; /* Default background color */
    border: 1px solid transparent; /* Default border */
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
    background-color: #e9ecef; /* Slightly darker background on hover */
    border: 4px solid #a0c8ff; /* Thicker and lighter blue border on hover */
}

.project-list {
    display: flex;
    flex-direction: column;
}

.btn {
    border-radius: 5px;
}
